# The number of milliseconds of each tick
tickTime={{zk_tick_time}}

# The number of ticks that the initial synchronization phase can take 
initLimit={{zk_init_limit}}

# The number of ticks that can pass between sending a request and getting an acknowledgement 
syncLimit={{zk_sync_limit}}

# the directory where the snapshot is stored. 
dataDir={{zk_data_dir}}

# log dir
dataLogDir={{zk_log_dir}}

# the port at which the clients will connect
clientPort={{zk_client_port}}

# the maximum number of client connections. increase this if you need to handle more clients
maxClientCnxns={{zk_max_client_cnxns}}

# Be sure to read the maintenance section of the administrator guide before turning on autopurge. 
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance

# The number of snapshots to retain in dataDir
autopurge.snapRetainCount={{zk_autopurge_snap_retain_count}}

# Purge task interval in hours Set to "0" to disable auto purge feature
autopurge.purgeInterval={{zk_autopurge_purge_interval}}

maxSessionTimeout=300000

################################
# zk Server List
################################
{# server.1=zoo1:2888:3888 #}
{% for host in groups[zkc] | sort %}
{% set zk_index = loop.index %}
server.{{zk_index}}={{host}}:{{zk_server_port1}}:{{zk_server_port2}}
{% endfor %}
